<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>
            <h4 class="card-title">Balance: {{ balance$ | async }} </h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let datos of (ingresosEgresos$ | async) | ordenIngresos">
                  <td> {{ datos.descripcion }} </td>
                  <td>  {{ datos.monto }}</td>
                  <td
                    [class.text-success]="datos.tipo === 'ingreso'"
                    [class.text-danger]="datos.tipo === 'egreso'"
                  >
                      {{ datos.tipo }}
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteItem(datos.uid || '')">
                      <i class="fa fa-trash"></i>
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
