/* You can add global styles to this file, and also import other style files */
.main {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .actions {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 24px;
    button {
      border: none;
      padding: 12px 24px;
      cursor: pointer;
      border-radius: 9px;
    }
    button:nth-child(1) {
      background-color: rgb(203, 104, 223);
    }
    button:nth-child(2) {
      background-color: rgb(175, 73, 73);
      color: white;
    }
    button:nth-child(3) {
      background-color: rgb(124, 119, 119);
      color: white;
    }
  }
  .hijo-container {
    display: flex;
    justify-content: center;
  }
}
